body {
    font-family: Trebuchet MS;
    margin: 0;
 }
 header {
    color : white;
    background-color :pink;
    font-family:Trebuchet ;
    text-decoration: none;
}
a:hover
{
    color:red;
    text-decoration: none;
}

footer {
    background-color:pink;
    color: white;
}